header {
  background-color: $jelly-bean;
  text-align: center;
  color: $white;
  padding: 13%;
}

.header__title{
	font-weight: $extra-light;
	font-size: 100px;
	width: 80%;
	margin: 0 auto;

}

.header__title2{
	font-weight: $bold;
	font-size: 70px;

}